/* = Buttons Core
-------------------------------------------------------------- */
/* ------------ Button --------------- */

button,input[type="submit"],input[type="reset"],input[type="button"] {    display: inline-block;    padding: 8px 22px;    border: none;    -webkit-border-radius: 0;    -moz-border-radius: 0;    border-radius: 0;    background: #E12E36;    color: #FFF;    font-weight: bold;    font-size: 13px;    font-family: "Pt Sans","Helvetica Neue",Helvetica,Arial,sans-serif;    cursor: pointer;}

a.btn,#footer a.btn{
    color: #fff;
}
.btn-flat:before, .btn-border:before{
	display:none;	
}

.btn{
    display:inline-block;
    margin: 0 10px 10px 0;    
    padding: 14px 20px;  
    background: #2dcb73;
    font-weight: bold;
    font-size: 13px;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1;
    *display:inline;
    *zoom:1;
    position: relative;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.btn span {
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn.rounded{
    overflow: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;  
}
.btn:hover{
    color: #fff;

}
.btn-flat:hover {
    background: ;

}

.btn-iconed {
	background: #fcad26;
	color: #fff;
	position:relative;
	text-align:left;
	padding: 20px 50px 20px 90px !important;
	border:2px solid transparent ;
}

.btn-iconed:hover{
	box-shadow: 0 0 0 26px rgba(0, 0, 0, 0.05) inset;
}
.btn-iconed:before {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.05);
}

.btn-iconed:hover {
	background: #f29e0d;
}

.btn-iconed:active {
	background: #f58500;
	top: 2px;
}

.btn-iconed:before {
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	line-height: 3;
	font-size: 140%;
	width: 60px;
	line-height:55px;
}


/* Button 6a */
.btn-flat , .btn-iconed{
    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.15) inset;
}



.btn-flat:hover {
    border: 0px solid;
	box-shadow: 0 0 0 26px rgba(0, 0, 0, 0.05) inset;
}

.btn-flat.btn-hover2 {
    border: 2px dashed;
}
.btn-flat.btn-hover3 {
    border: 2px dotted transparent;
}

.btn-flat.btn-hover3:hover{
	border: 2px dotted
}
.btn-flat.btn-hover4 {
    border: 4px double;
}
.btn-flat.btn-hover5 {
    border: 2px groove;
}
.btn-flat.btn-hover6 {
    border: 2px ridge;
}

a.btn-border{
    border: 2px solid #aaa;
    background: none;
    color: #aaa;
    z-index: 2;
}
.btn-border:hover {
    color: #fff !important;
}
/* Button 1a */
.btn-border span {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.btn-border:hover span {
    opacity: 1;
}

/* Button 1b */
.btn-border.btn-hover2 span {
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
}
.btn-border.btn-hover2:hover span {
    height: 100%;
}

/* Button 1c */
.btn-border.btn-hover3 span {
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
}
.btn-border.btn-hover3:hover span {
    width: 100%;
}

/* Button 1d */
.btn-border.btn-hover4 {
    overflow: hidden;
}
.btn-border.btn-hover4 span {
    width: 0;
    height: 103%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.btn-border.btn-hover4:hover span {
    width: 90%;
    opacity: 1;
}

/* Button 1e */
.btn-border.btn-hover5 {
    overflow: hidden;
}
.btn-border.btn-hover5 span {
    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.btn-border.btn-hover5:hover span {
    height: 200%;
    opacity: 1;
}

/* Button 1f */
.btn-border.btn-hover6 {
    overflow: hidden;
}
.btn-border.btn-hover6 span {
    width: 101%;
    height: 0;
    top: 50%;
    left: 50%;
    background: #fff;
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.btn-border.btn-hover6:hover span {
    height: 70%;
    opacity: 1;
}
.btn-small{
    padding:10px 12px;
    font-size: 11px;
}
.btn-large{
    padding: 18px 20px;
    font-size: 16px;
}

.btn i{
	margin-right:10px;	
}

.image-links .btn i{
	margin-right:0px;
}


.inf-btn {
	width:100%;
	background:#f2f2f2 ;
	display:block;
	height:50px;
	line-height:50px;
	text-align:center;
	color:#999;
		
}
.inf-btn.loading span{
	width:100% !important;
	background:#f2f2f2 ;
	display:block;
	height:50px;
	line-height:50px;
	text-align:center;
}

/* Infinite Scroll */

.ott-infinite-scroll>.loading,
.ott-infinite-scroll[data-has-next="false"]>.next,
.ott-infinite-scroll[data-has-next="true"]>.no-more{
    display: none;
}
.ott-infinite-scroll>a.next>i{
    margin-right: 10px;
}
